.wrapper {
  display: flex;
  height: 120px;
  color: #e9f4f1;
  border-bottom: 1px solid #2d2d2d;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #211f24;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex: 1;
  gap: 20px;
}

.disconnectBtn {
  cursor: pointer;
  color: #e9f4f1;
  background-color: #211f24;
  border: 1px solid #2d2d2d;
  border-radius: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.disconnectBtn:hover {
  transition: all 0.3s ease-in-out;
  border: 1px solid #eee;
}
